<%- include('partials/header') %>


<div class="card mb-3">
    <h3 class="card-header">Curiouser and curiouser</h3>
  <div class="card">
    <div class="card-body">
      <h4 class="card-title">About this API</h4>
      <p class="card-text">Made with NodeJS and PostgreSQL, using Sqitch and Joi, and Bootswatch (Morph theme). A lot of blood and tears were shed.</p>
      <a href="https://github.com/blandinejar" class="card-link">My GitHub</a>
    </div>
  </div>
  

<%- include('partials/footer') %>